


body{
	
	height: 100vh;
	background-size: cover;
	background-position: center;
	

}

header ul{
	float: right;
	list-style-type: none;
	margin-top:25px;
}

header ul li{
	display: inline-block;
}

header ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

header ul li a:hover{
	background-color: #fff;
	color: #000;

}
header ul li.active a{
	background-color: #fff;
	color: #000;

}

footer{
	background-color: #222;
	position: relative;
	height: 100px;
	width: 100px;
	padding: 60px 0px;
}







